extends layout

block content
  if user
    div#content
      div#sidebar
        div#user
          div.header
          div.info
            img(height="80", title="#{user.display_name}" src="#{user.images[0].url}")
            div.name
              p #{user.display_name}
            div.clear
        div#playlists
          ul
            each pl in playlists
              - var pl_id = pl.id ? pl.id : "starred"
              li: a(href="/generate?playlist_id=#{pl_id}&user_id=#{user.id}") #{pl.name}
      div#embed
        if tracks
          iframe(src="https://embed.spotify.com/?theme=white&uri=spotify:trackset:#{tracks}", width="300", height="380", frameborder="0", allowtransparency="true")
        else
          p "No playlist currently selected."
  else
    div#splash
      a#login(href="/login")